vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|30 Jul 2017 20:15:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|HONEY-POT\\Malcolm
vti_modifiedby:SR|HONEY-POT\\Malcolm
vti_timecreated:TR|27 Jun 2017 10:14:38 -0000
vti_backlinkinfo:VX|css/leaflet.css map/index.html
vti_cacheddtm:TX|30 Jul 2017 20:15:20 -0000
vti_filesize:IR|14065
vti_cachedlinkinfo:VX|S|leaflet.css S|../js/images/layers.png S|../js/images/layers-2x.png S|../js/images/marker-icon.png
vti_cachedsvcrellinks:VX|FSUS|css/leaflet.css FSUS|js/images/layers.png FSUS|js/images/layers-2x.png FSUS|js/images/marker-icon.png
vti_nexttolasttimemodified:TR|27 Jun 2017 10:14:38 -0000
